* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height:100%
}

body{
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: rgb(241, 241, 240);
}

main, header, footer {
    padding: 50px;
    /*border: 1px solid #000000;
    color: #141414;*/   
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.LeftSide {
    width: 40%;
    gap: 20px;
}

.RightSide {
    width: 60%
}

.smallImages {
   display: flex;
   flex-direction: row;
   height: 30%;
   /*justify-content: space-around;*/
   gap: 40px
}

/*.col-elements {
    display: flex;
    flex-direction: column;
    gap: 20px;
}*/

header,
footer {
    height: 60px;
}

main{
    flex:1;
}

/* two column */
/*@media (min-width: 450px){
    .container {
        background: orange;
        height:100%;
    }
    main {
        display: flex;
        flex-direction: row;
    }
    section {
        display: flex;
    }
    .column {
        flex: 1;
    } 
    .smallImages {
        flex: 1;
    }
}

/* three column */
/*@media (min-width: 960px) {
    .container {
        background: green;
        height: 100%;
    }
    main {
        display: flex;
        flex-direction: row;
    }
}