* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
  }
  
  .dropdown-container {
    background: rgb(216, 216, 209);
    line-height: 80px;
    color: rgb(65, 64, 57);
    padding: 0 40px;
  }
  
  select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 1em;
    font-family: inherit;
    font-size: inherit;
  /*   color: inherit; */
    color: #aeaeae;
  }


  /* List from Flowers Exercise*/
  .list {
    background: rgb(245, 245, 242);
    line-height: 40px;
    color: rgb(86, 83, 76);
    padding: 0 40px;
  }

  ul {
    display: flex;
    /*   flex-wrap: wrap; */
    justify-content: space-between;
  }
  
  li {
    list-style-type: none;
    border: 2px solid #141414;
    padding: 10px;
    margin: 10px;
    width: 20%;
  }

  h3 {
    font: size 10px;
  }
  
  li:hover {
    background: rgb(216, 216, 209);
  }
  
  ul .card.hide {
    display: none;
  }
  
  ul .card.show {
    /* display: block; */
    animation: fadeIn 0.5s ease;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  img {
    width: 100%;
    height: 150px;
  }